div.colorCell {
    display: inline-block;
    width:12px;
    height:12px;
    margin: 2px;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    border: 3px solid black;
    color:black;
}