body{
    background: #eee;
    text
}

div.colorCell {
    display: inline-block;

    width:4.5vw;
    height:5vh;
    margin-right: 0.25vw;
    margin-bottom: 0.125vh;
    
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    
    border-left: 0.125vw;
    border-right: 0.125vw;
    border-top: 0.25vh;
    border-bottom: 0.25vh;
    
    background-color: black;
    border-style: solid;
    border-color: black;
    color:black;
}