div.colorCell {
    display: inline-block;
    width:12px;
    height:12px;
    margin: 2px;
    padding-bottom: 9px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    border: 3px solid black;
}